<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>connect</title>
</head>
<body>

    <header>
        <nav>
            <h4>contact to us </h4>
        </nav>
    </header>
    <hr>
    <main>
        <section>
            <h3>
                <input type="checkbox" id="support" name="support" value="support">
                <label for="java">تیک پشتیبانی</label><br><br>
            </h3>
        </section>

    </main>
    <hr>
    <footer>

        <a href="">فرصت شغلی</a>
        <br>
        <br>
        <a href="">استخدام</a>
        <br>
        <br>
        <a href="">آدرس </a>
        <br>
        <br>
      </footer>
</body>
</html>