<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>

</head>
<body>

    <header>
        <nav>
            <a href="article" target="blank">article</a>
            <a href="contact" target="blank">contact us</a>
        </nav>
    </header>
    <hr>
    <main>
        
        <article>
            
        </article>
        
    </main>
    <hr>
    <footer>

        <a href="">فرصت شغلی</a>
        <br>
        <br>
        <a href="">استخدام</a>
        <br>
        <br>
        <a href="">آدرس </a>
        <br>
        <br>
      </footer>
    
</body>
</html>